
<div class="spacer-sm"></div>

<div class="row col-sm-6">
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Paste hand history</h3>
    </div>
    <div class="panel-body">
        <textarea name="hand" id="hand" cols="30" rows="30" class="form-control"></textarea>
    </div>
    </div>
</div>

<div class="row col-sm-6">
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Converted hand
        </h3>
    </div>
    <div class="panel-body">
        <textarea [disabled]="true" name="hand" id="hand" cols="30" rows="30" class="form-control"></textarea>
    </div>
    </div>
</div>
