
<hr>
<div *ngIf="error"
    class="alert alert-danger">
    {{ error }}
</div>

<div class="row col-sm-6">
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Paste hand history</h3>
    </div>
    <div class="panel-body">
        <textarea name="hand" #paste
            cols="30" rows="30" class="form-control"></textarea>
    </div>
    </div>
</div>

<div class="row col-sm-6">
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Converted hand
        </h3>
    </div>
    <div class="panel-body">
        <textarea #result 
            [disabled]="error" 
            [value]="convertedHand"
            cols="30" rows="30" class="form-control"></textarea>
    </div>
    </div>
</div>
